# cache folders
**/__pycache__/
.vscode/*


# custom folders
downloads/*
data/*
eval-results/* 
BEVFormer_segmentation_detection 

# BEV-folders
output/*
input/*
config/*
svo-test/*
output-backend/*
input-backend/*
logs/*
build/*
work_dirs/*




# file types
*.bin
*.ply
*.png
*.jpg
*.jpeg
*.swp
*.ply.*
*.out
*.fuse*
*.svo*
*.txt
*.zip
*.log
*.pt
*.gitkeep
*.pyc
*.json
*.pth
